/**
 * 
 * general styles for index
 * 
 */
body {
  height: 100%;
  background-color: #f5f5f5;
}

.header a:hover{
	background-color: #E3E3E3;
}

.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 0 0 80px;
}

.main {
    min-height: 500px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 50px;
}

#custom-panel {
  background-color: #DFEAFF;
  height:500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#styles {
  height: 170px;
}

#styles span {
  color: #666666;
  padding-left: 20px;
}
#styles .thumb {
  background-color: #FFFFFF;
  height:88px;
  margin-top: 16px;
  padding:16px 0 10px 0;
}

#colors {
  height: 120px;
}

#colors span {
  color: #666666;
  padding-left: 2px;
}

#colors .thumb {
  background-color: #FFFFFF;
  height: 40px;
  margin-top: 16px;
}

#pillows {
  height: 170px;
}

#pillows span {
  color: #666666;
  padding-left: 5px;
}

#pillows .thumb {
  background-color: #FFFFFF;
  height:88px;
  margin-top: 16px;
}

#preview-panel {
  margin:30px 0 20px 0;
}

#preview-panel .preview {
  padding:0px 50px 20px 10px;
}

.my-title {
  background-color: #252466;
  height: 30px;
  font-size: 14px;
  color: #FFFFFF;
  padding: 5px 0 5px 10px;
}

.selected{
  border: .2em solid #CB1507;
}

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}

.bottomShadow{
	-webkit-box-shadow: inset 0px -11px 8px -10px #CCC; 
	   -moz-box-shadow: inset 0px -11px 8px -10px #CCC;
	        box-shadow: inset 0px -11px 8px -10px #CCC;
}

.topShadow{
	-webkit-box-shadow: inset 0px 11px 8px -10px #CCC;
	  -moz-box-shadow: inset 0px 11px 8px -10px #CCC;
	       box-shadow: inset 0px 11px 8px -10px #CCC;
}